.Addresscuri{
    font-size: 32px;
    color:red;


}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dropdown is above other elements */
}

.dropdown div {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #f3f3f3;
}
.Adfl{
    display: flex;
}

.Address{
    padding:30px;
}
.addinp{
    border: solid 1px #ccc; /* Border style */
    width: 50%; /* Set width */
    height: 32px; /* Set height */
    padding: 6px; /* Padding inside the input */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth border color transition */
    margin-left: 50%;
    border:solid;
    border-width: 0.01cqi ;
    width:100%;
    height:32px;
    margin-top: 40px;
   
    padding:6px;
}
.addinp:hover,
.addinp:focus {
    border-color: #999; /* Change border color on hover and focus */
}

/* Placeholder text style */
.addinp::placeholder {
    color: #999; /* Placeholder text color */
}
.addlb{
    margin-top: 45px;
}
.adi{
    border: solid 1px #ccc; /* Border style */
    width: 50%; /* Set width */
    height: 32px; /* Set height */
    /* Padding inside the input */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth border color transition */
    margin-left: 55%;
    border:solid;
    border-width: 0.01cqi ;
    width:100%;
    height:32px;
    margin-top: 30px;
    padding:6px;
}
.addlbtwo{
position: relative;
top:60px;
}
.addressbox{

    overflow: hidden;
}
.adio{
    position: relative;
    right: 50px;
}
@media screen and (max-width:767px) {
    .adi{
        width:200px;
    }
    .addinp{
        width:200px;
    }
    .Address{
        padding: 0px;
    }
    
}
