.navreg{
  font-weight: bolder;
 
  transition: font-size 1.9s ease; 
  color:red;
 
}
.navreg:hover{
  font-size: 32px;
  
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animated {
  animation: pulse 1s infinite alternate; /* Change the animation duration and iteration as needed */
}
.navimg{
  height:49px;
  width:49px;
  border-radius: 50px;
}
.head{

  background-image: url('https://images.unsplash.com/photo-1680801935072-3f8cb58cc002?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}